= form_for @argument do |f|
  = react_component 'Argument', versions: argument_versions(@argument)
  .actions
    = f.submit 'Save'
-#   - if @argument.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@argument.errors.count, "error")} prohibited this argument from being saved:"
-#       %ul
-#         - @argument.errors.full_messages.each do |msg|
-#           %li= msg
-#
-#
